body {
    margin: 0px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

/* COMEÇO NAV */

nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 50px;
    
}

nav .ladoEsquerdoNav img {
    width: 60px;
    height: 60px;
}

.ladoEsquerdoNav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.ladoEsquerdoNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    margin-left: 5%;
    
}

.ladoEsquerdoNav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 15px;
}

.ladoDireitoNav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5%;
}

.ladoDireitoNav a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
}

.ladoDireitoNav #historia {
    width: 100px;
    height: 100px;
}

.ladoDireitoNav #icon {
    width: 20px;
    height: 20px;
}

/* TERMINO NAV */

/* COMEÇO PARTE PRINCIPAL DA HOME */

main {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 35px;
    color: #1E3932;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner .ladoImagemBanner {
    width: 50%;
    height: 100%;
}

.banner .ladoTextoBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color:#D4E9E2;
}

.banner h2 {
    font-weight:lighter;
}

/* TERMINO PARTE PRINCIPAL DA HOME */

/* COMEÇO FOOTER */


